.html{
    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: green;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 120px;
}
.header-ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.header-li{
    color: white;
    margin: 15px;
}   

.main{
    margin-top: 120px;
}
.teste {
    color: white;
}


