<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfólio</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="apresentacao">
      <h1>
        Portfólio em HTML 5 de um programador com conhecimento em
        <span class="apresentacao__titulo">Java, C e JavaScript;</span>
      </h1>
    </header>

    <main class="linguagens">
      <div class="linguagem__java">
        <div class="linguagemjava__texto">
          <h1>JAVA:</h1>
          <p>códigos desenvolvidos na linguagem Java</p>
        </div>
        <img class="linguagemjava__logo" src="Java_Logo.png" alt="Java logo" />
      </div>

      <div class="linguagem__c">
        <div class="linguagemc__texto">
          <h1>C:</h1>
          <p>códigos desenvolvidos na linguagem C</p>
        </div>
        <img class="linguagemc__logo" src="C_Logo.png" alt="C logo" />
      </div>
    </main>
    <footer>
      <h1><strong class="contatos">CONTATOS:</strong></h1>
      <a class="contatos_github" href="https://github.com/PedroVieiraC">Github</a>
    </footer>
  </body>
</html>
